div._ {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 4px solid var(--main-color);
    color: var(--main-color);
    background: rgba(var(--header-background-color-rgb), 0.32);
    background-blend-mode: multiply;
    box-shadow: 10px 10px 9.6px 0 rgba(0, 0, 0, 0.25);
    flex: 1;
    margin: 10px;
    min-width: 300px;
    overflow: auto;
    box-sizing: border-box;
    align-items: center;
    max-height: 400px;
    flex-basis: auto;
    justify-content: flex-start;
}

div._ > form {
    width: 100%;
}

div._ > form > table {
    width: 100%;
    border-collapse: collapse;
}

div._ > form > table > tbody > tr > td {
    padding: 5px;
}


div._ > form > table > tbody > tr:hover {
    background-color: var(--action-color);
}


div._ > form > table > thead > tr > th:first-child,
div._ > form > table > tbody > tr > td:first-child {
    text-align: right;
}

div._ > form > table > thead > tr > th {
    text-align: left;
}

div._ > form > table > tbody > tr > td:last-child {
    padding: 0;
}