:root {
    /* Default (dark mode) variables */
    --background-color: #002131;
    --header-background-color: #002e49;
    --header-background-color-rgb: 0, 46, 73;
    --header-background-color-subtracted-overlay: #0083d1;
    --overlay-color: #000000a6;
    --main-color: #fcfecd;
    --header-color: white;
    --action-color: #D10127;
    --faded-action-color: #efb29b;
}

body {
    margin: 0;
    height: 100dvh;
}

div#root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    background: url("/bg_c.png") var(--background-color) 50% / cover no-repeat fixed;
    background-blend-mode: lighten;
    background-position-y: bottom;
    min-height: 100%;
}

* {
    font-family: sans-serif;
}
